<form id="dice-pool-form" class="sta-form">
    <div class=" dice-pool flexcol">
		<div class="flexrow">
            <label class="label">{{localize 'dune.apps.focus'}}</label>
            <input type="checkbox" name="usingFocus" id="usingFocus">
        </div>
		<div class="flexrow">
            <label class="label">{{localize 'dune.apps.determination'}}</label>
            <input type="checkbox" name="usingDetermination" id="usingDetermination">
        </div>
		<div class="flexrow">
            <label class="label" style="flex: 80%;">{{localize 'dune.apps.complicationrange'}}</label>
            <input style="text-align: center;" class="numeric-entry" type="number" name="complicationRange" value="1" id="complicationRange">
        </div>
        <div class="flexrow">
            <div style="flex: 1;"><label class="label">{{localize 'dune.apps.pool'}}</label></div>
            <div style="flex: 1;display: flex;flex-direction: column;">
                <div class="flexrow">
                    <span class="label" style="flex: 1; text-align: left;">{{localize 'dune.counting.one'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'dune.counting.two'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'dune.counting.three'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'dune.counting.four'}}</span>
                    <span style="flex: 1; text-align: center;"></span>
                    <span class="label" style="flex: 1; text-align: center;">{{localize 'dune.counting.five'}}</span>
                </div>
                <input type="range" name="dicePoolSlider" min="1" max="5" value="{{defaultValue}}" class="slider" id="dicePoolSlider">
            </div>
        </div>
    </div>    
</form>